@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  padding: 3rem;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.primary-title {
  color: #ffff;
  margin-bottom: 4.2rem;
  backface-visibility: hidden; }
  .primary-title--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.8rem;
    animation: moveToRight 1s ease-in; }
  .primary-title--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .8rem;
    animation: moveToLeft 1s ease-in; }

.heading-secondary {
  color: transparent;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  letter-spacing: .2rem;
  background-clip: text;
  display: inline-block;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skew(15deg, 2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-text-center {
  text-align: center; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.btn:link, .btn:visited {
  font-size: 1.6rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 1.44rem;
  display: inline-block;
  border-radius: 10rem;
  border: none;
  transition: all 0.2s; }

.btn--animated {
  animation: moveUp 0.5s 0.75s;
  animation-fill-mode: backwards; }

.btn::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: inherit;
  transition: all 0.2s; }

.btn:hover {
  transform: translateY(0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scale(2);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.498rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #ffff;
  color: #777; }
  .btn--white::after {
    background-color: #ffff; }

.btn-text:link, .btn-text:visited {
  color: #28b485;
  display: inline-block;
  text-decoration: none;
  padding: .3rem;
  font-size: 1.6rem;
  border-bottom: 1px solid #28b485;
  transition: all .2s; }

.btn-text:hover {
  background-color: #28b485;
  color: #ffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    position: absolute;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    outline-offset: 2rem;
    transition: all .2s;
    z-index: 10; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.1) translateY(-0.5rem);
      outline: 1.5rem solid #28b485;
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.row {
  max-width: 114rem;
  margin-inline: auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col"] {
    padding: 1.6rem 1rem;
    float: left; }
    .row [class^="col"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc((2 * ((100% - 3 * 6rem) / 4)) +  6rem); }
  .row .col-3-of-4 {
    width: calc((3 * ((100% - 3 * 6rem) / 4)) +  2 * 6rem); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(120deg, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo-img {
    height: 3.5rem; }
  .header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding-block: 25rem;
  margin-top: -20vh; }
