@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  padding: 3rem;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.primary-title {
  color: #ffff;
  margin-bottom: 4.2rem;
  backface-visibility: hidden; }
  .primary-title--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.8rem;
    animation: moveToRight 1s ease-in; }
  .primary-title--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .8rem;
    animation: moveToLeft 1s ease-in; }

.btn:link, .btn:visited {
  font-size: 1.6rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  padding: .636rem 1.44rem;
  display: inline-block;
  border-radius: 10rem;
  border: none;
  transition: all 0.2s; }

.btn--animated {
  animation: moveUp 0.5s 0.75s;
  animation-fill-mode: backwards; }

.btn::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: inherit;
  transition: all 0.2s; }

.btn:hover {
  transform: translateY(0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scale(2);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.498rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #ffff;
  color: #777; }
  .btn--white::after {
    background-color: #ffff; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(120deg, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo-img {
    height: 3.5rem; }
  .header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center; }
