.btn {


    &:link,
    &:visited {
        font-size: 1.6rem;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        padding: .636rem 1.44rem;
        display: inline-block;
        border-radius: 10rem;
        border: none;
        transition: all 0.2s;
    }

    &--animated {
        animation: moveUp 0.5s 0.75s;
        animation-fill-mode: backwards;
    }

    &::after {
        position: absolute;
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: inherit;
        transition: all 0.2s;
    }


    &:hover {
        transform: translateY(.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);


        &::after {
            transform: scale(2);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .498rem 1rem rgba(0, 0, 0, 0.2);
    }

    &--white {
        background-color: $white;
        color: $gray;

        &::after {
            background-color: $white;
        }
    }
}