.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        display: block;
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: .2rem;
        border: none;
        background-color: rgba($color-white, .5);
        border-bottom: .3rem solid transparent;
        transition: all .3s;
        width: 100%;

        &:focus {
            outline: none;
            border-bottom: .3rem solid $primary-green-light;

            &:invalid {
                border-bottom: .3rem solid $color-secondary-dark;
            }
        }

        &::-webkit-input-placeholder {
            color: $color-gray-dark-2;
        }
    }

    &__label {
        display: block;
        font-weight: 400;
        margin-left: 2rem;
        margin-top: .7rem;
        font-size: 1.5rem;
        transition: all .3s;
    }

    &__input:placeholder-shown+&__label {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-4rem);
    }

    &__radio-group {
        display: inline-block;
        width: 49%;

        @include respond(tab-port){
            display: block;
            margin-bottom: 2rem;
        }
    }

    &__radio-label {
        font-size: $default-font-size;
        position: relative;
        cursor: pointer;
        padding-left: 4rem;
    }

    &__radio-button {
        display: inline-block;
        height: 3rem;
        width: 3rem;
        border: .4rem solid $primary-green;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: -.4rem;

        &::after {
            content: "";
            display: block;
            position: absolute;
            height: 0;
            width: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background-color: $primary-green;
            opacity: 0;
            transition: all .2s;
        }
    }

    &__radio-input {
        display: none;
    }

    &__radio-input:checked~&__radio-label &__radio-button::after {
        opacity: 1;
        height: 1.5rem;
        width: 1.5rem;
    }
}